{% extends 'base.html' %}
{% block title %}
    {{Main_head}}
{% endblock %}
{% block content %}
    <h1>item_id = {{item_id}}</h1>
    <h2>Наименование: {{name}} </h2>
    <h2>Бренд: {{brand}} </h2>
    <h2>Описание: {{description}} </h2>
    {% if quantity > 0 %}
        <p>Количество: <i>{{quantity}}</i> </p> 
    {% else %}
        <p>Количество: <i>товар отсутствует</i> </p> 
    {% endif %}
    <br>
    <p><a href="{% url 'items-list' %}"> Вернуться к полному списку товаров через именованный url </a></p>
{% endblock %}