<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Main_head}}</title>
</head>
<body>
    <header>
        / <a href="/"> Начальная страница </a> / <a href="/items/"> Список товаров </a> / <a href="/about/"> О сайте </a>
    </header>
    <h1> Список всех товаров: </h1>
    <ul>
        {% for item in items_list %}
            <li><a href="/item/{{item.id}}" > id({{item.id}}) - {{item.name}} {{item.brand}} </a> </li>
        {% endfor %}
    </ul>
</body>
</html>