{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{Main_head}}
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "style.css" %}">
{% endblock %}

{% block content %}
    {% static 'skeleton.jpg' %}
    <img src="{% static 'skeleton.jpg' %}" width="77" height="111" alt="Skeleton" >
    <h1> Список всех товаров: </h1>
    <br><br>
    <div class="items">
        {% comment %} <ol> {% endcomment %}
            {% for item in items_list %}
            <li>
                <div class="item">
                <a href="{% url 'item-detail' item.id %}" > id({{item.id}}): {{item.name}} </a> 
                <p> Бренд: {{item.brand}} </p>
                <p> Описание товара: </p>
                <p> {{ item.description}} </p>
                </div>
            </li>
            {% endfor %}
        {% comment %} </ol> {% endcomment %}
    </div>
    {{ block.super }}
{% endblock %}