{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{Main_head}}
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "style.css" %}">
{% endblock %}

{% block content %}
    <h1>item_id = {{item_id}}</h1>
    <h2>Наименование: {{name}} </h2>
    <h2>Бренд: {{brand}} </h2>
    <h2>Описание: {{description}} </h2>
    {% if quantity > 0 %}
        <p>Количество: <i>{{quantity}}</i> </p> 
    {% else %}
        <p>Количество: <i>товар отсутствует</i> </p> 
    {% endif %}

    {% for color in item_colors %}
        <li> Цвет {{color.id}}: {{color.name}}&nbsp;&nbsp;<div class="div_color" style='background-color: {{color.name}}';></div></li>
    {% endfor %}
    <br>
    <p><a href="{% url 'items-list' %}"> Вернуться к полному списку товаров через именованный url </a></p>
{% endblock %}